/* Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED

html
  font-size 10px
  font-family 'Roboto', sans-serif

p
  font-size 1.8rem
  line-height 1.5
  margin 0 0 20px 0

h1
  text-align center
  background white
  font-weight 900
  font-size 7rem
  margin 0
  letter-spacing -1px
  a
    color #767676
    text-decoration none
    &:focus
      outline 0

h2
  font-size 3rem
  margin-left 20px
  color #767676
  letter-spacing -1px

@media (max-width: 500px)
  h1
    font-size 4rem
