body {
	font-family: 'Helvetica', sans-serif;
	background: #f5f8fa;
	margin-top: 80px;
}

li:not(.poll-items):not(#github-login) {
	margin-right: 20px;
	margin-top: 10px;
}

#verify {
    display: none;
}

#github-login {
    margin-right: 40px;
	margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 20px;
}

.navbar-nav>li>a {
    padding: 8px !important;
}

.fa-signal,
.fa-user {
    color: #f0ad4e;
}

ul {
	margin-top: 50px;
}

.poll-items {
	list-style: none;
	background-color: white;
	font-size: 24px;
	border: 1px solid #d3d3d3;
	padding: 10px;
}

.poll-items:hover {
	background-color: #ddd;
}

.poll-items a,
.poll-items a:hover {
	text-decoration: none;
	display: block;
	color: #00BCD4 !important;
}

.navbar-brand {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 32px;
	font-weight: 900;
}

.navbar-default {
    background: white;
    font-family: 'Futura', 'Helvetica', sans-serif;
}

#new-poll {
	text-align: left;
}

.text-option, 
input[type="radio"] {
	margin-bottom: 10px;
}

input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
	font-size: 24px;
}

.cancel-btn, .confirm-btn {
    border: none;
    color: white;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin: 10px;
}

.cancel-btn {
    background: #777;
}

.cancel-btn:hover {
    background: #555;
}

.confirm-btn {
    background: #f0ad4e;
}

.confirm-btn:hover {
    background: #d08b2c;
}

#poll-title {
	margin-bottom: 40px;
}

#custom-text {
	margin-left: 50px;
	display: block;
}

.btn-danger {
	width: 200px;
	margin-top: 40px;
}

#graph {
	width: 350px;
	text-align: center;
}

.pollOptionsInput {
    margin-bottom: 10px;
}

.remove-button {
    float: right;
    color: white;
    background: #f0ad4e;
    padding: 0 5px;
    border-radius: 5px;
}

#empty-message {
    color: #428bca;
}

h1 {
    font-family: 'Futura', 'Helvetica', sans-serif;
}

.avatar {
    height: 48px;
    width: 48px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#upload-avatar {
    margin-left: 64px;
}

#user-settings {
    text-align: center;
    padding-bottom: 40px;
}

#user-settings h1 {
    margin: 10px;
}

#newpoll {
    text-align: center;
    padding: 0 20px;
}

#newpoll h1 {
    margin-bottom: 40px;
}

.remove-button:hover {
    cursor: pointer;
}

#add-choice {
    color: #2069a8;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: left;
}

#options-field {
    margin-bottom: 0;
}

#add-choice:hover {
    cursor: pointer;
}

#show-poll {
	text-align: left;
}

.grid-sort, .grid-category {
    display: inline-block;
    margin: 0px 20px 20px 20px;
    width: 200px;
}

.filters {
    text-align: center;
}

.grid-item { 
    width: 350px;
    float: left;
    background: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    overflow: scroll;
}

.grid-item a {
    text-decoration: none;
    color: #333;
}

.grid-item a:hover {
    text-decoration: none;
    color: #428BCA;
}

.grid-item h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 69px;
    font-weight: 100;
}

#no-message {
    margin: 0;
    padding: 30px 10px;
}

.grid-item p {
    font-weight: 100;
    color: #333;
}

.grid {
    margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.btn-secondary {
    background: #e3e3e3;
    margin-top: 10px;
}

.total-votes {
    color: #a0a0a0;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: middle;
    display:inline-block;
}

.date-display {
    color: #a0a0a0;
    margin-left: 10px;
    margin-top: 10px;
}

b {
    margin-left: 69px;
}

#warningModal h3 {
    font-weight: 100;
    color: #333;
    margin-bottom: 30px;
}

.alert-category,
.alert-options {
    display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  text-align: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  color: #66757f;
  margin: 10% auto; /* 15% from the top and centered */
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  min-width: 300px;
}

.modal-content h3 {
    padding: 10px;
}

.modal-content .btn {
    width: 50%;
    background: #f0ad4e;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.option-bar {
    border-radius: 5px;
    background: #ddd;
    /*background: #77C7F7;*/
    display: block;
    white-space: nowrap;
    margin-bottom: 7px;
}

.username {
    font-weight: 900;
}

.option-percent {
    margin-right: 10px;
}

.user-option {
    background: rgba(151,187,205,0.6);
}

.option-info {
    padding: 10px 5px;
    line-height: 24px;
}

#show-grid-item {
    min-height: 322px;
}

@media (max-width: 800px) {
    .navbar-header {
        float: left;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right!important;
        margin: 10px 10px;
    }
    .navbar-nav>li {
        float: right;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-text {
        float: right;
        margin: 0px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: none!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}