body {
	font-family: 'Futura';
}

.jumbotron {
	width: 70%;
	margin: 50px auto;
	padding: 20px;
	border-radius: 25px;
	text-align: center;
}

li:not(.poll-items):not(#github-login) {
	margin-right: 20px;
	margin-top: 10px;
}

ul {
	margin-top: 50px;
}

.poll-items {
	list-style: none;
	background-color: white;
	font-size: 24px;
	border: 1px solid #d3d3d3;
	padding: 10px;
}

.poll-items:hover {
	background-color: #ddd;
}

.poll-items a,
.poll-items a:hover {
	text-decoration: none;
	display: block;
	color: #00BCD4 !important;
}

.navbar-brand {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 32px;
	font-weight: 900;
}

#new-poll {
	text-align: left;
}

.text-option, 
input[type="radio"] {
	font-size: 18px;
	margin: 15px 10px;
	color: gray;
}

#poll-title {
	margin-bottom: 40px;
}

#custom-text {
	margin-left: 50px;
	display: block;
}

.btn-danger {
	width: 200px;
	margin-top: 40px;
}

#graph {
	width: 400px;
	text-align: center;
}

input[type="submit"] {
	margin-top: 40px;
}

#show-poll {
	text-align: left;
}

@media (max-width: 800px) {
    .navbar-header {
        float: left;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right!important;
        margin: 10px 10px;
    }
    .navbar-nav>li {
        float: right;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-text {
        float: right;
        margin: 0px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: none!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}