<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
	      <a class="navbar-brand" href="/"><span class="fa fa-signal"></span> Poll Vault</a>
	    </div>
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
            <li><a class="menu" href="/mypolls">My Polls</a></li>
            <li><a class="menu" href="/settings">Settings</a></li>
            <li><a class="menu" href="/newpoll">New Poll</a></li>
		    <li><a class="menu" href="/logout">Logout</a></li>
		  <% } else { %>
              <li id="github-login">
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    		      </li>
    		      <li id="github-login">
    		        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    		      </li>
    	  <% } %>
        </ul>
    </nav>
</header>