<!DOCTYPE html>

<html>

	<head>
		<title>All Polls</title>
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

   <%- include header.ejs %>

	<body>
		
	   <div id="myModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <span>Sign up for Poll Vault</span>
	      	</div>
	      	<h1><span class="fa fa-signal"></span></h1>
	      	<h3>Log in to create and vote on polls</h3>
	        <a href="/signup"><button class="btn">Sign Up</button></a>
	        <p>Have an account? <a href="/login">Log in >></a></p>
	      </div>
	    </div>
		
		<div class="filters">
			<div class="grid-sort">
	          <select class="form-control" id="select-sort">
	            <option selected value="most">Most votes first</option>
	            <option value="newest">Newest first</option>
	          </select>
	        </div>
	        
	        <div class="grid-category">
	          <select class="form-control" id="select-category">
	            <option selected value="all">All categories</option>
	            <option value="sports">Sports &amp; Fitness</option>
                <option value="movies">TV &amp; Movies</option>
                <option value="music">Music &amp; Art</option>
                <option value="food">Food &amp; Travel</option>
                <option value="science">Science &amp; Technology</option>
                <option value="news">News &amp; Politics</option>
                <option value="misc">Miscellaneous</option>
	          </select>
	        </div>
		</div>
		
		<div class="grid">
	    </div>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
		
		<script>
		
		    var modal = $('#myModal');
			
			$('document').ready(function() {
				getPolls();
			});
			
			$('.close').on('click', function() {
				modal.hide();
			});
			
			$('.grid').on('click', 'input[type="radio"]', function() {
			    var parentID = $(this).parent().attr('id');
			    $("#" + parentID + ' input[type="submit"]').prop('disabled', false);
			});
			
			$('.grid').on('click', 'input[type="submit"]', function(e) {
			    e.preventDefault();
			    
			    var form = $(e.currentTarget).parent();
			    var formID = form.attr('id');
			   
			    
			    var selectedOption = $('input[name=option]:checked', "#" + formID).val();
			    
			    $.ajax({
			    	url: "https://polls-app-v2-fleemaja.c9users.io/polls/" + formID,
			    	type: 'post',
			    	data: {
			    		option: selectedOption
			    	},
			    	success: function(json) {
			    		if (json.hasOwnProperty('message')) {
			    			if (json['message'] === "Login to vote") {
			    				modal.show();
			    			}
			    		} else {
			    			html = "";
			    			var totalVotes = json.voters.length;
				    		json.options.forEach(function(o) {
			    				var optionText = $('<textarea />').html(o.text).text();
			    				var optionPercent = Math.round(parseFloat(o.votes/totalVotes) * 100).toString() + "%";
			    				var optionPercentPadding = "";
			    				if (optionPercent.length === 3) {
			    					optionPercentPadding = 7;
			    				} else if (optionPercent.length === 2) {
			    					optionPercentPadding = 15;
			    				} else {
			    					optionPercentPadding = 0;
			    				}
			    				
		    					if (selectedOption === optionText) {
		    					    html += "<span class='option-bar user-option' style='width:" + optionPercent + ";' ><span class='option-info'><span class='option-percent' style='padding-left: " + optionPercentPadding + "px;' >" + optionPercent + "</span>" + optionText + "</span><i class='fa fa-check-circle-o' aria-hidden='true'></i>" + "</span>";
		    					} else {
		    						html += "<span class='option-bar' style='width:" + optionPercent + ";' ><span class='option-info'><span class='option-percent' style='padding-left: " + optionPercentPadding + "px;'>" + optionPercent + "</span>" + optionText + "</span></span>";
		    					}
				    		});
				    		html += "<span class='total-votes'>" + totalVotes + " votes</span>";
				    		html += "<span class='total-votes'>&bull;</span>";
				    		html += "<span class='total-votes'>" + displayCategory[json.category] + "</span>";
			    			form.html(html);
			    		}
			    	}
			    })
			});
			
			$('#select-sort').on('change', function() {
				getPolls();
			});
			
			$('#select-category').on('change', function() {
				getPolls();
			});
			
			var monthNumsToStrs = {
				'01': 'Jan',
				'02': 'Feb',
				'03': 'Mar',
				'04': 'Apr',
				'05': 'May',
				'06': 'Jun',
				'07': 'Jul',
				'08': 'Aug',
				'09': 'Sep',
				'10': 'Oct',
				'11': 'Nov',
				'12': 'Dec'
			}
			
			var displayCategory = {
				'science': 'Science & Technology',
				'music': 'Music & Art',
				'sports': 'Sports & Fitness',
				'movies': 'Movies & TV',
				'food': 'Food & Travel',
				'misc': 'Miscellaneous',
				'news': 'News & Politics'
			}
			
			function formatDate(date) {
				var dateEls = date.split("-");
				var month = monthNumsToStrs[dateEls[1]];
				var day = parseInt(dateEls[2], 10);
				
				return month + " " + day;
			}
			
			function getPolls() {
				var category = $('#select-category').val();
			    var sortType = $('#select-sort').val();
			    
				$.ajax({
		    	  	url: "https://polls-app-v2-fleemaja.c9users.io/api",
		    	  	dataType: 'json',
				    data: { 
				        "category": category,
				        "sortType": sortType
				    },
				    success: function(json) {
				    	html = "";
				    	json.forEach(function(poll) {
				    		var pollTitle = $('<textarea />').html(poll.title).text();
				    		html += "<div class='grid-item'>";
				    		html += "<span><b>" + poll.username + " </b>" + "<span class='date-display'>" + formatDate(poll.date) + "</span><span>";
				    		html += "<h3><a href='/polls/" + poll._id + "' >" + pollTitle + "</a></h3>";
				    		html += "<form action='/polls/" + poll._id + "' method='post' id=" + poll._id + ">";
				    		var totalVotes = poll.voters.length;
				    		poll.options.forEach(function(o) {
			    				var optionText = $('<textarea />').html(o.text).text();
			    				var optionPercent = Math.round(parseFloat(o.votes/totalVotes) * 100).toString() + "%";
			    				var optionPercentPadding = "";
			    				if (optionPercent.length === 3) {
			    					optionPercentPadding = 7;
			    				} else if (optionPercent.length === 2) {
			    					optionPercentPadding = 15;
			    				} else {
			    					optionPercentPadding = 0;
			    				}
			    				if (poll.userChoice) {
			    					var uChoice = $('<textarea />').html(poll.userChoice).text();
			    					if (uChoice === optionText) {
			    					    html += "<span class='option-bar user-option' style='width:" + optionPercent + ";' ><span class='option-info'><span class='option-percent' style='padding-left: " + optionPercentPadding + "px;' >" + optionPercent + "</span>" + optionText + "</span><i class='fa fa-check-circle-o' aria-hidden='true'></i>" + "</span>";
			    					} else {
			    						html += "<span class='option-bar' style='width:" + optionPercent + ";' ><span class='option-info'><span class='option-percent' style='padding-left: " + optionPercentPadding + "px;'>" + optionPercent + "</span>" + optionText + "</span></span>";
			    					}
		    					} else {
				    				html += "<input type='radio' name='option' class='regular-radio big-radio' value=\'" + optionText.replace(/\'/g, '&#39;') + "\' >";
					    			html += "<span class='text-option'>" + optionText + "</span><br>";
				    			}
				    		});
				    		if (!poll.userChoice) {
				    			html += "<input class='btn btn-secondary' type='submit' value='Vote'>";
				    		}
				    		html += "<span class='total-votes'>" + totalVotes + " votes</span>";
				    		html += "<span class='total-votes'>&bull;</span>";
				    		html += "<span class='total-votes'>" + displayCategory[poll.category] + "</span>";
				    		html += "</form></div>";
				    	});
				    	$('.grid').html(html);
				    	
				    	$('input[type="submit"]').prop("disabled", true);
				    	
				    	var msnry = new Masonry( '.grid', {
						  columnWidth: 350,
						  isFitWidth: true, 
						  gutter: 20,
						  itemSelector: '.grid-item'
						});
				    }
				});
			}
		</script>
		
	</body>

</html>