<!DOCTYPE html>

<html>

	<head>
		<title>My Polls</title>
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

   <%- include header.ejs %>

	<body>
		
	   <div id="myModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <span>Sign up for Poll Vault</span>
	      	</div>
	      	<h1><span class="fa fa-signal"></span></h1>
	      	<h3>Log in to create and vote on polls</h3>
	        <a href="/signup"><button class="btn">Sign Up</button></a>
	        <p>Have an account? <a href="/login">Log in >></a></p>
	      </div>
	    </div>
	    
	    <div id="warningModal" class="modal">
	      <div class="modal-content">
	      	<div class="modal-header">
		      	<h4>Delete Poll?</h4>
		    </div>
	      	<h3 class="warning-poll-title"></h3>
	      	<button class="cancel-btn">Cancel</button>
	        <button class="confirm-btn">Delete Poll</button>
	      </div>
	    </div>
		
		<div class="filters">
			<h1>My Polls</h1>
			
			<div class="grid-sort">
	          <select class="form-control" id="select-sort">
	            <option selected value="most">Most votes first</option>
	            <option value="newest">Newest first</option>
	          </select>
	        </div>
	        
	        <div class="grid-category">
	          <select class="form-control" id="select-category">
	            <option selected value="all">All categories</option>
	            <option value="sports">Sports &amp; Fitness</option>
                <option value="movies">TV &amp; Movies</option>
                <option value="music">Music &amp; Art</option>
                <option value="food">Food &amp; Travel</option>
                <option value="science">Science &amp; Technology</option>
                <option value="news">News &amp; Politics</option>
                <option value="misc">Miscellaneous</option>
	          </select>
	        </div>
		</div>
		
		<div class="grid">
	    </div>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
		
		<script type="text/javascript" src="/public/js/mypolls.js" ></script>
		
	</body>

</html>