<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Signup</title>

    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    	<link href="/public/css/main.css" rel="stylesheet" type="text/css">
    </head>

    <header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
      	      <a class="navbar-brand" href="/"><span class="fa fa-signal"></span> Poll Vault</a>
      	    </div>
          </div>
        </nav>
    </header>

    <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">
                    <span>Username</span>
                    <input type="text" class="form-control" name="username" placeholder="Choose a username" id="username" autofocus required>
                    <div class="tooltip" id="username-tooltip"><span class="dot">!</span>Username is required to sign up</div>
                </label>
            </div>
            <div class="form-group">
                <label for="password-input">
                  <span>Password</span>
                  <input type="password" id="password-input" class="form-control" placeholder="New password" name="password" maxlength="50" required>
                  <div class="tooltip" id="password-1-tooltip"></div>
                </label>
            </div>
            <div class="form-group">
                <label for="password-input-2">
                  <span>Verify Password</span>
                  <input type="password" id="password-input-2" class="form-control" placeholder="Repeat password" maxlength="50" required>
                  <div class="tooltip" id="password-2-tooltip"></div>
                </label>
            </div>

            <button type="submit" id="signup-submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/signup.js" ></script>
</html>
